*{
    margin: 0;
    padding: 0;
}

#top {
    background-color: #4682B4;
    margin-top: 20px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    margin-top: 5px;
    background-color: #b0c4de;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

legend {
   color: #1f253d;
   background-color: #b0c4de;
   border-style: solid;
   border-width: 1px;
   border-color: #200772;
   padding: 2px;
   font-weight: bold;
   margin-left: 2px;
}

table {
    margin: 5px;
    padding: 5px;
}

td {
    padding: 3px;
}

p.data {
    padding-left: 3px;
}

.required{
    color: #FF0000;
}

img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #f0f8ff;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.accomplishments{
    text-align: center;
    padding-bottom: 10px;
}

.qualifications{
    text-align: center;
    padding-bottom: 10px;
}

h2{
    text-align: center;
}

p[title="about"]{
    padding-left: 75px;
    padding-right: 75px;
}

h1{
    text-align: center;
}

.instructions{
    text-align: center;
}

.navbar {
    width: 100%;
    background-color: #4682B4;
    height: auto;
}

.navbar a{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #b0c4de ;
}

@media screen and (max-width: 500px) {
    .navbar a{
        float: none;
        display: block;
    }
}

.dropbtn {
    background-color: #4682B4;
    color: white;
    font-size: 17px;
    border: none;
    text-decoration: none;
    padding: 1px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #b0c4de;
    min-width: 12px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #6495ED;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b0c4de;
}
